<div class="p-6 bg-white dark:bg-gray-900">
    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
        <span *ngIf="data">Edit Role Operation</span>
        <span *ngIf="!data">Create Role Operation</span>
        <svg *ngIf="(loading$ | async)"
            class="inline w-4 h-4 ml-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
    </h3>

    <!-- CREATE OPERATION -->

    <div *ngIf="!data" class="grid grid-cols-3 gap-2">
        <div class="text-input-frame col-span-3">
            <label class="label">Operation Description</label>
            <input #operationDescriptionInput type="text" (input)="changeOperationDescription($event)" class="input">
        </div>
        <div class="text-input-frame col-span-3">
            <label class="label">Partner Role</label>
            <select (change)="selectRole($event)" (mousedown)="loadRoles($event)"
                class="input text-gray-950 bg-gray-100 text-sm w-full block py-2.5 px-4 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="NOVALUE000">Select role</option>
                <option *ngFor="let role of (partnerRoles$ | async)" [value]="role.partner_role_id"
                    [selected]="selectedRoleId === role.partner_role_id">
                    {{role.partner_role_name}}
                </option>
            </select>
        </div>
        <div class="text-input-frame col-span-3">
            <label class="label">Partner Operations</label>
            <select (change)="selectOperation($event)" (mousedown)="loadOperations($event)"
                class="input text-gray-950 bg-gray-100 text-sm w-full block py-2.5 px-4 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="NOVALUE000">Select operation</option>
                <option *ngFor="let operation of (partnerOperations$ | async)" [value]="operation.partner_operation_id"
                    [selected]="selectedOperationId === operation.partner_operation_id">
                    {{operation.partner_operation_name}}
                </option>
            </select>
        </div>
        <div class="text-input-frame col-span-3">
            <label class="label">Metering Boundary</label>
            <input #meteringBoundayInput type="number" (input)="changeMeteringBoundary($event)" min="0" class="input">
        </div>

        <div class="col-span-3 mt-4">
            <div class="flex items-center">
                <div class="flex">
                    <button type="button" [ngClass]="{ 'disabled': !canSave }" (click)="saveOperation(undefined)"
                        class="mr-2 button-primary-md">
                        <span class="w-full">Create</span>
                        <span class="sr-only">Create new operation</span>
                    </button>
                    <button type="button" (click)="close()" class="mr-2 button-primary-outlined-md">
                        <span class="w-full">Cancel</span>
                        <span class="sr-only">Cancel operation</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- UPDATE OPERATION -->

    <div *ngIf="data && currentRoleOperation$ | async as roleOperation" class="grid grid-cols-3 gap-2">
        <div class="text-input-frame col-span-3">
            <label class="label">Operation Description</label>
            <input #operationDescriptionInput type="text" (input)="changeOperationDescription($event)"
                [value]="roleOperation.partner_role_operation_description" class="input">
        </div>
        <div class="text-input-frame col-span-3">
            <label class="label">Partner Role</label>
            <select (change)="selectRole($event)" (mousedown)="loadRoles($event)"
                class="input text-gray-950 bg-gray-100 text-sm w-full block py-2.5 px-4 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="NOVALUE000">Select role</option>
                <option *ngFor="let role of (partnerRoles$ | async)" [value]="role.partner_role_id"
                    [selected]="selectedRoleId === role.partner_role_id">
                    {{role.partner_role_name}}
                </option>
            </select>
        </div>
        <div class="text-input-frame col-span-3">
            <label class="label">Partner Operations</label>
            <select (change)="selectOperation($event)" (mousedown)="loadOperations($event)"
                class="input text-gray-950 bg-gray-100 text-sm w-full block py-2.5 px-4 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="NOVALUE000">Select operation</option>
                <option *ngFor="let operation of (partnerOperations$ | async)" [value]="operation.partner_operation_id"
                    [selected]="selectedOperationId === operation.partner_operation_id">
                    {{operation.partner_operation_name}}
                </option>
            </select>
        </div>
        <div class="text-input-frame col-span-3">
            <label class="label">Metering Boundary</label>
            <input #meteringBoundayInput type="number" [value]="roleOperation.partner_role_operation_metering_boundary"
                (input)="changeMeteringBoundary($event)" min="0" class="input">
        </div>

        <div class="col-span-3 mt-4">
            <div class="flex items-center">
                <div class="flex">
                    <button type="button" [ngClass]="{ 'disabled': !canSave }" (click)="saveOperation(roleOperation)"
                        class="mr-2 button-primary-md">
                        <span class="w-full">Update</span>
                        <span class="sr-only">Update new operation</span>
                    </button>
                    <button type="button" (click)="close()" class="mr-2 button-primary-outlined-md">
                        <span class="w-full">Cancel</span>
                        <span class="sr-only">Cancel operation</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>