<div class="p-6 bg-white dark:bg-gray-900">

    <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">
        <span>Search for Agencies</span>
        <svg *ngIf="(organizationsLoading$ | async)"
            class="inline w-4 h-4 ml-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
    </h3>

    <div class="grid grid-cols-3 gap-2">
        <div class="text-input-frame col-span-1">
            <label class="label">Name</label>
            <input #searchNameInput type="text" placeholder="Search by Name" class="input">
        </div>
        <div class="text-input-frame col-span-1">
            <label class="label">Company Name</label>
            <input #searchCompanyNameInput type="text" placeholder="Search by Company Name" class="input">
        </div>
        <div class="col-span-3">
            <div class="flex items-center">
                <div class="flex">
                    <button type="button" (click)="search()" class="mr-2 button-primary-md">
                        <fa-icon [icon]="['fas', 'search']"></fa-icon>
                        <span class="ml-2 w-full">Search</span>
                        <span class="sr-only">search organisations</span>
                    </button>
                    <button *ngIf="selectedOrganisationIds.length > 0" type="button" (click)="addOrganisationIds()"
                        class="button-primary-outlined-md">
                        <span class="w-full">Add {{selectedOrganisationIds.length}} agencies</span>
                        <span class="sr-only">add new organizations</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6" *ngIf="!(organizationsLoading$ | async)">
        <ul class="space-y-3">
            <li *ngFor="let organisation of (allOrganizations$ | async)">
                <a (click)="selectOrganisation(organisation)" [ngClass]="{
                    'bg-white dark:bg-gray-800': !selected(organisation),
                    'bg-gray-100 dark:bg-gray-700': selected(organisation),
                    'hover:bg-gray-100 dark:hover:bg-gray-700': !organisation.associated,
                    'bg-gray-300 dark:bg-gray-500' : organisation.associated,
                }" class="block p-4 border border-gray-200 dark:border-gray-700 rounded-lg shadow">
                    <div>
                        <h6 [ngClass]="{
                            'text-gray-400': organisation.associated,
                            'text-gray-700': !organisation.associated,
                        }" class="text-xs font-normal dark:text-gray-400">
                            <span>{{organisation.state}}</span>
                            <span class="ml-1">{{organisation.name}} </span>
                        </h6>
                        <p [ngClass]="{
                            'text-gray-500': organisation.associated,
                            'text-gray-900': !organisation.associated,
                        }" class="mb-2 text-md font-medium tracking-tight dark:text-white">
                            {{organisation.company_name}}
                        </p>
                    </div>
                    <div>
                        <span [ngClass]="{
                                'bg-blue-100 text-blue-800 dark:bg-blue-800 dark:text-blue-200': organisation.web_enabled,
                                'bg-gray-200 text-gray-700 dark:bg-gray-900 dark:text-gray-600': !organisation.web_enabled,
                            }" class="text-xs font-medium mr-2 px-1.5 py-1 rounded-md">
                            <fa-icon *ngIf="organisation.web_enabled" [icon]="['fas', 'circle-check']"></fa-icon>
                            <fa-icon *ngIf="!organisation.web_enabled" [icon]="['fas', 'circle-xmark']"></fa-icon>
                            WEB ENABLED
                        </span>
                        <span [ngClass]="{
                                'bg-blue-100 text-blue-800 dark:bg-blue-800 dark:text-blue-200': organisation.costa_enabled,
                                'bg-gray-200 text-gray-700 dark:bg-gray-900 dark:text-gray-600': !organisation.costa_enabled,
                            }" class="text-xs font-medium mr-2 px-1.5 py-1 rounded-md">
                            <fa-icon *ngIf="organisation.costa_enabled" [icon]="['fas', 'circle-check']"></fa-icon>
                            <fa-icon *ngIf="!organisation.costa_enabled" [icon]="['fas', 'circle-xmark']"></fa-icon>
                            COSTA ENABLED
                        </span>
                        <span [ngClass]="{
                            'bg-blue-100 text-blue-800 dark:bg-blue-800 dark:text-blue-200': organisation.associated,
                            'bg-gray-200 text-gray-700 dark:bg-gray-900 dark:text-gray-600': !organisation.associated,
                        }" class="text-xs font-medium mr-2 px-1.5 py-1 rounded-md">
                            <fa-icon *ngIf="organisation.associated" [icon]="['fas', 'circle-check']"></fa-icon>
                            <fa-icon *ngIf="!organisation.associated" [icon]="['fas', 'circle-xmark']"></fa-icon>
                            ASSOCIATED
                        </span>

                    </div>
                </a>
            </li>
        </ul>
    </div>


</div>