<div class="mt-6">

    
<div class="relative overflow-x-auto shadow-md border border-gray-200 sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-6">
                    Product name
                </th>
                <th scope="col" class="px-6 py-6">
                    Type
                </th>
                <th scope="col" class="px-6 py-6">
                    Data 1
                </th>
                <th scope="col" class="px-6 py-6">
                    Data 2
                </th>
                <th scope="col" class="px-6 py-6">
                    Data 3
                </th>
                <th scope="col" class="px-6 py-3">
                    Data 4
                </th>
                <th scope="col" class="px-6 py-3">
                    Content
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <fa-icon *ngIf="item.type===productItemType.Category" [icon]="folderIcon" class="{{item.color}}"></fa-icon>
                    <fa-icon *ngIf="item.type===productItemType.File" [icon]="fileIcon" class="{{item.color}}"></fa-icon>
                    <span class="ml-2">{{item.name}}</span>
                </th>
                <td class="px-6 py-4">
                    <span *ngIf="item.type===productItemType.Category">Category</span>
                    <span *ngIf="item.type===productItemType.File">File</span>
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    -
                </td>
                <td class="px-6 py-4">
                    {{ item.childs || "-" }}
                </td>
                <td class="flex items-center px-6 py-4 space-x-3">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>
