<div class="p-6 bg-white dark:bg-gray-900">
    <button type="button" (click)="close()"
        class="justify-center absolute top-3 right-5 text-gray-400 bg-transparent hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-gray-100 text-xl w-8 h-8 ml-auto flex items-center content-center">
        <fa-icon [icon]="['fas', 'xmark']" class=""></fa-icon>
        <span class="sr-only">Close modal</span>
    </button>
    <div>
        <h3 class="mb-4 text-lg font-medium text-gray-900 dark:text-white">Select API environment</h3>
        <ul class="my-4 space-y-3">
            <li *ngFor="let item of environments$ | async">
                <a (click)="selectEnvironment(item)"
                    class="flex items-center p-2 text-sm text-gray-900 dark:text-white rounded-lg bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 group hover:shadow">
                    <span class="flex-1 ml-3 whitespace-nowrap">{{item}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>