<div class="relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
       <fa-icon [icon]="['fas', 'search']" class="text-gray-600"></fa-icon>
    </div>
    <input #input
    [attr.id]="inputId"
    [attr.value]="inputValue"
    [value]="inputValue"
    [disabled]="inputDisabled"
    [readonly]="inputReadonly"
    [required]="inputRequired"
    [attr.type]="inputType"
    [attr.class]="inputClass"
    [attr.placeholder]="inputPlaceholder"
    [attr.name]="inputName"
    [attr.validation]="inputValidation"
    [attr.autocomplete]="(inputAutocomplete ? null : 'off')"
    [min]="min"
    [max]="max"
    (change)="inputValue = input.value; onChange.emit($event)"
    (input)="inputValue = input.value; onInput.emit($event)"
    (focusin)="inputValue = input.value; onFocusIn.emit($event)"
    (focusout)="inputValue = input.value; onFocusOut.emit($event)"
    (reset)="onReset($event)"
    class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

 </div>