<form [formGroup]="variantFormGroup" class="space-y-4 mt-4 mb-2 pb-4">
    <div class="mt-6">
        <div class="relative overflow-x-auto max-h-[512px]">
            <table class="w-full text-sm text-left text-gray-500 border border-gray-200 sm:rounded-sm">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th *ngFor="let variant of headerVariant?.properties; let first = first" scope="col"
                            class="px-2 py-2">
                            {{variant.name}}
                            <span *ngIf="variant.required || first">*</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let variant of variants; let index = index"
                        class="bg-white cursor-pointer border-b hover:bg-gray-50">
                        <td [formGroupName]="'variant'+index" *ngFor="let property of variant.properties"
                            class="px-2 py-2">

                            <span *ngIf="property.options.length === 0">
                                <input type="text" [formControlName]="property.name" [readonly]="property.readonly"
                                    [ngClass]="{
                                        'outline-none bg-gray-200 border-gray-200' : property.readonly,
                                         'bg-white border-gray-400 focus:outline-none focus:bg-white focus:border-gray-500' : !property.readonly,
                                         'border-red-500 focus:border-red-600': fieldInValid(property, index)
                                    }"
                                    class="block w-full text-xs text-gray-700 border rounded-md py-2 px-3 leading-tight">
                            </span>

                            <div *ngIf="!property.readonly && property.options.length > 0">
                                <select [formControlName]="property.name"
                                    class="bg-white border-gray-400 border py-2 px-3 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                                    <option *ngFor="let option of property.options"
                                        [selected]="property.value === option.value">
                                        <span
                                            class="bg-gray-50 border border-gray-300 py-2 px-3 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                                            {{option.text}}
                                        </span>
                                    </option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>