<nav class="navbar w-full">
  <div class="max-w-screen-3xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">
    <a class="flex items-center">
      <span class="cursor-pointer self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        <span class="relative self-center text-lg font-semibold whitespace-nowrap dark:text-white">
          <span class="font-black text-xl" [routerLink]="['']">Commerce Editor</span>
          <span *ngIf="(currEnvironment$ | async) as env" [ngClass]="{
            'bg-amber-400 dark:bg-amber-900' : env === 'PRE',
            'bg-green-400 dark:bg-green-800' : env === 'PROD',
          }"
            class="absolute font-normal text-black dark:text-white inline-flex items-center justify-center px-2 text-xs rounded-full -top-2 -right--2">
            {{ env }}
          </span>
        </span>
      </span>
    </a>
    <div class="flex md:order-2">
      <!--  
      <button type="button" *ngIf="(currEnvironment$ | async) as env" (click)="getApiEnvironments()"
        class="button-primary-md mr-2">
        <span>CHANGE ENVIRONMENT</span>
        <span class="sr-only">env</span>
      </button>
    -->
      <button type="button" (click)="getApiEnvironments()"
        class="w-10 h-10 justify-center text-center text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-xl">
        <fa-icon [icon]="['fas', 'server']"></fa-icon>
        <span class="sr-only">env</span>
      </button>

      <button type="button" (click)="toggleTheme()"
        class="w-10 h-10 justify-center text-center text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-xl">
        <fa-icon *ngIf="(darkTheme$ | async) === true" [icon]="['fas', 'sun']"></fa-icon>
        <fa-icon *ngIf="(darkTheme$ | async) === false" [icon]="['fas', 'moon']"></fa-icon>
        <span class="sr-only">ToggleTheme</span>
      </button>
      <button type="button" (click)="exit()"
        class="w-10 h-10 justify-center text-center text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-xl">
        <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
        <span class="sr-only">Exit</span>
      </button>
    </div>
    <div class="items-center justify-between w-full md:flex md:w-auto md:order-1">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium text-sm border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a [routerLink]="['']" [ngClass]="{ 
            'text-blue-700 hover:text-blue-800 dark:text-blue-600 dark:hover:text-blue-700': currentRoute === '',
            'text-gray-500 hover:text-gray-950 dark:text-gray-300 dark:hover:text-white': currentRoute !== ''
          }" class="block cursor-pointer py-2 pl-3 pr-4 rounded md:p-0">
            HOME
          </a>
        </li>
        <li>
          <a (click)="navigateToDashboard()" [ngClass]="{ 
            'text-blue-700 hover:text-blue-800 dark:text-blue-600 dark:hover:text-blue-700': currentRoute === 'dashboard',
            'text-gray-500 hover:text-gray-950 dark:text-gray-300 dark:hover:text-white': currentRoute !== 'dashboard'
          }" class="block cursor-pointer py-2 pl-3 pr-4 rounded md:p-0">
            CATALOG EDITOR
          </a>
        </li>
        <li>
          <a (click)="navigateToManagement()" [ngClass]="{ 
            'text-blue-700 hover:text-blue-800 dark:text-blue-600 dark:hover:text-blue-700': currentRoute === 'management',
            'text-gray-500 hover:text-gray-950 dark:text-gray-300 dark:hover:text-white': currentRoute !== 'management'
          }" class="block cursor-pointer py-2 pl-3 pr-4 rounded md:p-0">
            USER MANAGER
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
