<div *ngIf="selectedProductSubscription$ | async">  
  <app-breadcrumb *ngIf="navitems.length > 1" (onItemSelected)="selectBreadcrumbItem($event)" [items]="navitems"></app-breadcrumb>
  <app-detail-form [currentProduct]="currentProduct" [productDetail]="productDetail" [collapsed]="collapseForm"
    (onToggleAccordion)="onToggle($event)"></app-detail-form>
  <div *ngIf="!isFile && items.length > 0">
    <app-data-filter (onItemSelected)="isTableList = !isTableList"></app-data-filter>
    <div [ngSwitch]="isTableList" *ngIf="items$ | async">
      <app-data-list *ngSwitchDefault [data]="items" (onItemSelected)="selectItem($event)"></app-data-list>
      <app-data-grid *ngSwitchCase="false" [data]="items" (onItemSelected)="selectItem($event)"></app-data-grid>
    </div>
  </div>
</div>