<app-navbar class="fixed z-40 top-0 w-full"></app-navbar>

<aside class="sidebar fixed top-0 left-0 w-14 h-screen pt-16 transition-transform -translate-x-full sm:translate-x-0">
    <div class="h-full overflow-y-auto scrollbar-hide">
        <ul *ngIf="currentRoute as route">
            <li *ngIf="(selectedProductName$ | async)">
                <a (click)="navigateToProductDetailPage()"
                    class="item flex items-center justify-center px-3 py-2 text-base font-normal" [ngClass]="{
                        'selected' : route === 'detail-product'
                    }">
                    <fa-icon [icon]="['fas', 'pager']" class="icon text-lg"></fa-icon>
                    <!--<span *ngIf="(sideBarMenuOpened$ | async)" class="flex-1 ml-4 whitespace-nowrap">
                        {{ selectedProductName$ | async }}
                    </span>-->
                </a>
            </li>
            <li>
                <a (click)="goToProductPage()"
                    class="item flex items-center justify-center px-3 py-2 text-base font-normal" [ngClass]="{
                        'selected' : route === 'product'
                    }">
                    <fa-icon [icon]="['fas', 'home']" class="icon text-lg"></fa-icon>
                    <!--<span *ngIf="(sideBarMenuOpened$ | async)" class="flex-1 ml-4 whitespace-nowrap">
                        Catalogs and products
                    </span>-->
                </a>
            </li>
            <li>
                <a (click)="navigateToProductExplorer()"
                    class="item flex items-center justify-center p-2 text-base font-normal" [ngClass]="{
                        'selected' : route === 'explorer'
                    }">
                    <fa-icon [icon]="['fas', 'search']" class="icon text-lg"></fa-icon>
                    <!--<span *ngIf="(sideBarMenuOpened$ | async)" class="flex-1 ml-4 whitespace-nowrap">Search</span>-->
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class="fixed top-[64px] right-0 bottom-0 left-14">
    <router-outlet name="content"></router-outlet>
</div>