
<div class="mx-auto grid max-w-6xl grid-cols-1 gap-6 pt-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
  <div *ngFor="let item of data">
      <a (click)="selectCatalog(item)">
          <div class="rounded-xl border-2 border-slate-300 bg-white py-12 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 text-center">
              <fa-layers class="text-8xl text-slate-300">
                  <fa-icon [icon]="folderIcon"></fa-icon>
                  <fa-layers-text content="{{item.content}}" style="color: white;" transform="shrink-10"></fa-layers-text>
              </fa-layers>
          </div>
      </a>
  </div>

  <div class="rounded-xl border-2 border-slate-300 bg-white py-12 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 text-center">
      <fa-icon class="text-8xl text-slate-300" [icon]="addFolderIcon"></fa-icon>
  </div>

  <div class="rounded-xl border-2 border-slate-300 bg-white py-12 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 text-center">
      <fa-icon class="text-8xl text-slate-300" [icon]="fileIcon"></fa-icon>
  </div>

  <div class="rounded-xl border-2 border-slate-300 bg-white py-12 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 text-center">
      <fa-icon class="text-8xl text-slate-300" [icon]="addFileIcon"></fa-icon>
  </div>

</div>

  