<div [ngClass]="{ 'hidden' : disable }"
    *ngIf="(productAssociation$ | async) as productAssociation">

    <div *ngIf="!(currentProductIsFile$ | async)" [formGroup]="formGroup" class="space-y-4 mt-2 py-2">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            <div class="col-span-1">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                    Primary category
                </label>
                <select *ngIf="hasPrimaryCategoryControl()" formControlName="PRIMARY_CATEGORY" (change)="selectPrimaryCategory($event)"
                    class="bg-gray-50 border border-gray-300 py-2 px-3 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                    <option *ngIf="productAssociation.parentcategories.length > 0"></option>
                    <option *ngFor="let value of productAssociation.parentcategories"
                        [selected]="productAssociation.primarycategory === value.code">
                        <span
                            class="bg-gray-50 border border-gray-300 py-2 px-3 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                            {{value.code}}
                        </span>
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="flex mt-2 py-2" *ngIf="!(currentProductIsFile$ | async)">
        <a class="cursor-pointer flex items-center mr-4" (click)="selectedcategory = 'parentcategories'">
            <input type="radio" [checked]="selectedcategory === 'parentcategories'"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label class="ml-2 text-gray-700 text-xs font-bold dark:text-gray-300">
                Parent categories
            </label>
        </a>
        <a class="cursor-pointer flex items-center mr-4" (click)="selectedcategory = 'childcategories'">
            <input type="radio" [checked]="selectedcategory === 'childcategories'"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label class="ml-2 text-gray-700 text-xs font-bold dark:text-gray-300">
                Child categories
            </label>
        </a>
    </div>

    <app-association-data-table *ngIf="productAssociation?.parentcategories as parentCategories"
        [title]="(currentProductIsFile$ | async) ? 'Additional Categories' : 'Parent Categories'"
        [disable]="selectedcategory === 'childcategories'" [dataList]="parentCategories"
        [columns]="['Catalog Name', 'Display Name', 'Actions']"
        (onDataListChanges)="updateParentDataList(productAssociation, $event)"
        (onAddClicked)="addItemsTo('parent', 'C')">
    </app-association-data-table>

    <app-association-data-table *ngIf="productAssociation?.childcategories as childCategories" title="Child Categories"
        [disable]="selectedcategory === 'parentcategories'" [dataList]="childCategories"
        [columns]="['Catalog Name', 'Display Name', 'Actions']"
        (onDataListChanges)="updateChildDataList(productAssociation, $event)" (onAddClicked)="addItemsTo('child', 'C')">
    </app-association-data-table>

    <app-association-data-table *ngIf="productAssociation.products as products" title="Products"
        [disable]="(currentProductIsFile$ | async) ?? false" [dataList]="products"
        [columns]="['Product ID', 'Display Name', 'Actions']"
        (onDataListChanges)="updateProductDataList(productAssociation, $event)"
        (onAddClicked)="addItemsTo('products', 'P')">
    </app-association-data-table>

</div>