<div class="space-y-4 mt-6" *ngIf="(searchData$ | async) as searchData">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">

        <!-- LOOK IN -->

        <div class="select-input-frame col-span-1">
            <label class="label">Look In</label>
            <select (change)="selectLookIn($event)" [disabled]="searchData.lookinoptions.length === 1" class="select">
                <option *ngIf="!searchData.lookinselected"></option>
                <option *ngFor="let option of searchData.lookinoptions"
                    [selected]="option.value === searchData.lookinselected" class="option">
                    {{option.text}}
                </option>
            </select>
        </div>

        <!-- LOOK FOR -->

        <div class="select-input-frame col-span-1">
            <label class="label">Look For</label>
            <select (change)="selectLookFor($event)" [disabled]="searchData.lookforoptions.length === 1" class="select">
                <option *ngFor="let option of searchData.lookforoptions"
                    [selected]="option.value === searchData.lookforselected" [value]="option.value" class="option">
                    {{option.text}}
                </option>
            </select>
        </div>

        <!-- SEARCH FIELDS -->

        <div class="col-start-1 col-span-4">
            <div class="relative overflow-x-auto border border-gray-200 sm:rounded-sm">
                <table class="table-fixed w-full text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-2 py-2 w-1/12 text-center">
                                LOGIC
                            </th>
                            <th scope="col" class="px-2 py-2 w-4/12">
                                FIELD
                            </th>
                            <th scope="col" class="px-2 py-2 w-3/12">
                                CONDITION
                            </th>
                            <th scope="col" class="px-2 py-2 w-3/12">
                                VALUE
                            </th>
                            <th scope="col" class="px-2 py-2 w-1/12 text-center">
                                ACTION
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- CURRENT ADDED FILEDS -->

                        <tr *ngFor="let data of searchData.postfields; let first = first; let last = last let index = index"
                            class="border-b bg-white">

                            <!-- OPERATORS (AND/OR) -->

                            <td class="select-input-frame px-2 py-2">
                                <select *ngIf="!first" (change)="selectOperator($event, index)" class="select">
                                    <option *ngFor="let operator of operatorsForField(searchData, index)"
                                        [value]="operator.value" [selected]="operator.value === data.logicaloperator"
                                        class="option">
                                        {{operator.text}}
                                    </option>
                                </select>
                            </td>

                            <!-- FIELDS (NAME) -->

                            <td class="select-input-frame px-2 py-2">
                                <select (change)="updatePostFieldAtIndex($event, index, searchData)" class="select">
                                    <option></option>
                                    <option *ngFor="let field of searchData.fields" [value]="field.fieldvalue"
                                        [selected]="field.fieldtext === data.field" class="option">
                                        {{field.fieldtext}}
                                    </option>
                                </select>
                            </td>

                            <!-- CONDITION -->

                            <td class="select-input-frame px-2 py-2">
                                <select (change)="selectPostFieldConditionAtIndex($event, index)" class="select">
                                    <option></option>
                                    <option *ngFor="let condition of conditionsForField(data.field, searchData)"
                                        [value]="condition.value" [selected]="condition.value === data.condition"
                                        class="option">
                                        {{condition.text}}
                                    </option>
                                </select>
                            </td>

                            <!-- VALUE -->

                            <td class="px-2 py-2">

                                <div [ngSwitch]="data.fieldtype">

                                    <!-- DateTime -->

                                    <div *ngSwitchCase="SearchFieldType.DateTime" class="text-input-frame">
                                        <input type="date" (change)="setValueForField($event, index)"
                                            [value]="data.value" class="input">
                                    </div>

                                    <!-- MultipleChoice -->

                                    <div *ngSwitchCase="SearchFieldType.MultipleChoice" class="select-input-frame">
                                        <select (change)="setValueForField($event, index)" class="select">
                                            <option
                                                *ngFor="let value of valuesForSelectedFieldAtIndex(index, searchData)"
                                                class="option">
                                                {{value.text}}
                                            </option>
                                        </select>
                                    </div>

                                    <!-- BOOLEAN VALUES -->

                                    <div *ngSwitchCase="SearchFieldType.Boolean" class="checkbox-input-frame">
                                        <input type="checkbox" [checked]="isChecked(data.value)"
                                            (click)="setCheckBoxValueForField(data.value, index)" class="box">
                                    </div>

                                    <!-- NUMBER VALUES -->

                                    <div *ngSwitchCase="SearchFieldType.Number" class="text-input-frame">
                                        <input type="number" [value]="data.value"
                                            (change)="setValueForField($event, index)" [value]="data.value"
                                            class="input">
                                    </div>

                                    <div *ngSwitchCase="SearchFieldType.BigNumber" class="text-input-frame">
                                        <input type="number"
                                            [value]="data.value" (change)="setValueForField($event, index)"
                                            [value]="data.value" class="input">
                                    </div>

                                    <div *ngSwitchCase="SearchFieldType.Double" class="text-input-frame">
                                        <input type="number" [value]="data.value"
                                            (change)="setValueForField($event, index)" [value]="data.value"
                                            class="input">
                                    </div>

                                    <div *ngSwitchCase="SearchFieldType.Decimal" class="text-input-frame">
                                        <input type="number"
                                            [value]="data.value" (change)="setValueForField($event, index)"
                                            [value]="data.value" class="input">
                                    </div>

                                    <!-- TEXT VALUES -->
                                    <div *ngSwitchCase="SearchFieldType.FileName" class="text-input-frame">
                                        <input type="text" [value]="data.value"
                                        (change)="setValueForField($event, index)" [value]="data.value"
                                        class="input">
                                    </div>

                                    <div *ngSwitchCase="SearchFieldType.LongText" class="text-input-frame">
                                        <input type="text" [value]="data.value"
                                        (change)="setValueForField($event, index)" [value]="data.value"
                                        class="input">
                                    </div>

                                    <div *ngSwitchCase="SearchFieldType.Text" class="text-input-frame">
                                        <input type="text" [value]="data.value"
                                        (change)="setValueForField($event, index)" [value]="data.value"
                                        class="input">
                                    </div>

                                    <div *ngSwitchCase="SearchFieldType.MoneyCurrency" class="text-input-frame">
                                        <input type="text"
                                        [value]="data.value" (change)="setValueForField($event, index)"
                                        [value]="data.value"
                                        class="input">
                                    </div>

                                </div>
                            </td>

                            <!-- ACTION -->

                            <td class="px-2 py-2 text-center">
                                <button *ngIf="last" type="button" (click)="addEmptyCondition()"
                                    class="w-6 h-6 text-blue-700 border-2 border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-center inline-flex items-center justify-center">
                                    <fa-icon [icon]="['fas', 'plus']" class="text-xs"></fa-icon>
                                    <span class="sr-only">add condition</span>
                                </button>
                                <button *ngIf="searchData.postfields.length > 1 && !last" type="button"
                                    (click)="removeCondition(index)"
                                    class="w-6 h-6 text-red-700 border-2 border-red-700 hover:bg-red-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-full text-center inline-flex items-center justify-center">
                                    <fa-icon [icon]="['fas', 'minus']" class="text-xs"></fa-icon>
                                    <span class="sr-only">remove condition</span>
                                </button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- RESULT TABLE -->

        <div class="col-start-1 col-span-4">
            <div class="relative">
                <div
                    class="flex flex-col items-center justify-between py-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
                    <div class="w-full md:w-1/2">

                        <!-- ACTIONS -->

                        <div class="flex items-center">
                            <div class="flex">
                                <button type="button" (click)="searchProducts(searchData)"
                                    class="button-primary-md mr-2"
                                    [class.disabled]="!baseParamsAreCompleted(searchData)">
                                    <fa-icon [icon]="['fas', 'search']" class="text-xs mr-2"></fa-icon>
                                    <span>Search</span>
                                </button>
                                <button type="button" class="button-primary-outlined-md"
                                    *ngIf="selectedData.length > 0 && selectable" (click)="selectProducts()">
                                    <span class="mr-2">Select and close</span>
                                    <span class="mr-2">{{selectedData.length}}</span>
                                    <span>items</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
                        <div class="flex items-center w-full space-x-3 md:w-auto">
                            <div class="relative">
                                <select (change)="selectItemsPerPage($event)"
                                    class="text-gray-950 bg-white text-sm w-full block py-2 px-3 dark:bg-gray-900 border border-gray-500 rounded-md dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:outline-none dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option *ngFor="let item of searchData.resultperpageoptions" [value]="item.value">
                                        {{item.text}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="(searchDataResult$ | async) as resultList">
                    <div *ngIf="resultList.length > 0">
                        <table class="table-fixed w-full text-left text-gray-500 border border-gray-200 sm:rounded-lg">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-2 py-2 w-2/12">
                                        <div class="flex items-center cursor-pointer"
                                            (click)="toggleOrderByDisplayName()">
                                            Display Name
                                            <fa-icon *ngIf="!orderDisplayName" [icon]="['fas', 'sort']"
                                                class="text-xs ml-2"></fa-icon>
                                            <fa-icon *ngIf="orderDisplayName && !toggleOrderDisplayName"
                                                [icon]="['fas', 'sort-up']" class="text-xs ml-2"></fa-icon>
                                            <fa-icon *ngIf="orderDisplayName && toggleOrderDisplayName"
                                                [icon]="['fas', 'sort-down']" class="text-xs ml-2"></fa-icon>
                                        </div>
                                    </th>
                                    <th scope="col" class="px-2 py-2 w-2/12">
                                        <div class="flex items-center cursor-pointer"
                                            (click)="toggleOrderByCategoryName()">
                                            Category Name
                                            <fa-icon *ngIf="!orderCategoryName" [icon]="['fas', 'sort']"
                                                class="text-xs ml-2"></fa-icon>
                                            <fa-icon *ngIf="orderCategoryName && !toggleOrderCategoryName"
                                                [icon]="['fas', 'sort-up']" class="text-xs ml-2"></fa-icon>
                                            <fa-icon *ngIf="orderCategoryName && toggleOrderCategoryName"
                                                [icon]="['fas', 'sort-down']" class="text-xs ml-2"></fa-icon>
                                        </div>
                                    </th>
                                    <th scope="col" class="px-2 py-2 w-2/12">
                                        Product Id
                                    </th>
                                    <th scope="col" class="px-2 py-2 w-2/12">
                                        Variant Id
                                    </th>
                                    <th scope="col" class="px-2 py-2 w-2/12">
                                        Type
                                    </th>
                                    <th scope="col" class="px-2 py-2 w-2/12">
                                        Catalog Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let result of resultList | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage"
                                    [ngClass]="{
                                    'bg-white hover:bg-gray-50': !selected(result) && selectable, 
                                    'bg-blue-100 hover:bg-blue-200': selected(result) && selectable, 
                                    'hover:bg-blue-200': !selectable,
                                 }" class="border-b text-xs cursor-pointer" (click)="selectItem(result)">
                                    <td class="px-2 py-2">
                                        {{result.displayname}}
                                    </td>
                                    <td class="px-2 py-2">
                                        {{result.categoryname}}
                                    </td>
                                    <td class="px-2 py-2">
                                        {{result.productid}}
                                    </td>
                                    <td class="px-2 py-2">
                                        {{result.variantid}}
                                    </td>
                                    <td class="px-2 py-2">
                                        <span [ngSwitch]="result.type">
                                            <span *ngSwitchCase="ProductType.Category">
                                                Category
                                            </span>
                                            <span *ngSwitchCase="ProductType.CategoryVariant">
                                                Category
                                            </span>
                                            <span *ngSwitchCase="ProductType.File">
                                                Product
                                            </span>
                                            <span *ngSwitchCase="ProductType.FileVariant">
                                                Product
                                            </span>
                                        </span>
                                    </td>
                                    <td class="px-2 py-2">
                                        {{result.catalogname}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav *ngIf="resultList.length > itemsPerPage" class="flex items-center justify-between pt-4">
                            <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing
                                <span class="font-semibold text-gray-900 dark:text-white">
                                    {{((currentPage - 1) * itemsPerPage) + 1}}
                                    -
                                    <span *ngIf="currentPage === getPageCount(resultList)">
                                        {{ (currentPage*itemsPerPage) +
                                        (resultList.length - (currentPage*itemsPerPage)) }}
                                    </span>
                                    <span *ngIf="currentPage !== getPageCount(resultList)">
                                        {{currentPage*itemsPerPage}}
                                    </span>
                                </span>
                                of
                                <span class="font-semibold text-gray-900 dark:text-white">
                                    {{resultList.length}}
                                </span>
                            </span>
                            <ul class="inline-flex items-center -space-x-px select-none">
                                <li>
                                    <a (click)="prevPage()"
                                        class="items-center justify-center block px-4 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">
                                        <fa-icon [icon]="['fas', 'chevron-left']" class="text-md"></fa-icon>
                                    </a>
                                </li>
                                <li *ngIf="currentPage === getPageCount(resultList) && currentPage > 2">
                                    <a (click)="currentPage = currentPage - 2"
                                        class="z-10 px-3 py-2 leading-tight text-blue-600 border hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white bg-white border-gray-300">
                                        {{ currentPage - 2 }}
                                    </a>
                                </li>

                                <li *ngIf="currentPage > 1">
                                    <a (click)="prevPage()"
                                        class="z-10 px-3 py-2 leading-tight text-blue-600 border hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white bg-white border-gray-300">
                                        {{ prevPageNumber(currentPage) }}
                                    </a>
                                </li>
                                <li>
                                    <a
                                        class="z-10 px-3 py-2 leading-tight text-blue-600 border hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white border-blue-300 bg-blue-50">
                                        {{currentPage}}
                                    </a>
                                </li>
                                <li *ngIf="currentPage < getPageCount(resultList)">
                                    <a (click)="currentPage = currentPage + 1"
                                        class="z-10 px-3 py-2 leading-tight text-blue-600 border hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white bg-white border-gray-300">
                                        {{ nextPageNumber(currentPage) }}
                                    </a>
                                </li>
                                <li *ngIf="currentPage === 1 &&  getPageCount(resultList) >= currentPage + 2">
                                    <a (click)="currentPage = currentPage + 2"
                                        class="z-10 px-3 py-2 leading-tight text-blue-600 border hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white bg-white border-gray-300">
                                        {{currentPage + 2}}
                                    </a>
                                </li>
                                <li>
                                    <a (click)="nextPage(resultList)"
                                        class="items-center justify-center block px-4 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <fa-icon [icon]="['fas', 'chevron-right']" class="text-md"></fa-icon>
                                    </a>
                                </li>
                            </ul>
                            <div class="inline-flex items-center -space-x-px select-none">
                                <span class="text-md font-normal text-gray-500 dark:text-gray-500 mr-2">Page</span>
                                <select (change)="selectPage($event)"
                                    class="bg-white border border-gray-300 py-2 px-3 text-gray-500 text-sm rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium block w-20">
                                    <option
                                        *ngFor="let items of [].constructor( getPageCount(resultList)); let index = index"
                                        [selected]="currentPage === index + 1">
                                        <span
                                            class="bg-gray-50 border border-gray-300 py-2 px-3 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-20">
                                            {{index + 1}}
                                        </span>
                                    </option>
                                </select>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>