<div class="background fixed top-[64px] left-[56px] right-0 bottom-0 p-0" [ngClass]="{
        'left-64' : (sideBarMenuOpened$ | async) === true,
        'left-[56px]' : (sideBarMenuOpened$ | async) === false
    }">

    <!-- NAVIGATION BREADCRUMB -->
    <app-breadcrumb class="relative z-30 p-0 right-0 bg-gray-100" [navigationList$]="navigationList$"
        [childsCount$]="childsCount$" [loading]="(productStateLoading$ | async) ?? false"
        [hasSearchResults]="(searchDataSelectedResult$ | async) !== undefined"
        (onBackToSearchResult)="backToSearchResult()" (onGetCatalogs)="getCatalogs()"
        (onSelectProduct)="selectNavigationItem($event)">
    </app-breadcrumb>

    <!-- PRODUCT LIST -->
    <app-data-list *ngIf="!(productListIsEmpty$ | async)"
        class="absolute p-0 right-0 top-14 left-0 bottom-0 pb-2 overflow-auto scrollbar-hide border-r border-gray-400 dark:border-gray-700"
        [ngClass]="{
             'w-[288px]': (sideBarMenuOpened$ | async),
             'w-[384px]': !(sideBarMenuOpened$ | async),
        }" [loading]="(dataListLoading$ | async) ?? false" (onSelectItem)="selectProduct($event)"
        [selectedProductType$]="selectedProductType$" [selectedProductName$]="selectedProductName$"
        [selectedProductId$]="selectedProductId$" [productList$]="productList$"
        [productListIsEmpty$]="productListIsEmpty$" [isCatalogList$]="isCatalogList$">
    </app-data-list>

    <!-- PRODUCT DETAIL -->
    <app-product-detail *ngIf="(hasProductDetail$ | async)"
        class="absolute top-14 bottom-0 pb-2 left-0 right-0 overflow-auto scrollbar-hide" [ngClass]="{
        'left-[296px]': (sideBarMenuOpened$ | async) === true && (productListIsEmpty$ | async) === false,
        'left-[384px]': (sideBarMenuOpened$ | async) === false && (productListIsEmpty$ | async) === false,
    }">
    </app-product-detail>

    <!-- PRODUCT DETAIL EMPTY 
    <div *ngIf="!(hasProductDetail$ | async)"
        class="absolute top-[80px] right-2 bottom-0 pl-2 pb-2 overflow-auto scrollbar-hide"
        [ngClass]="(sideBarMenuOpened$ | async) ? 'left-[296px]' : 'left-[392px]'">
        <div class="p-4 border-2 border-gray-400 border-dashed rounded-lg dark:border-gray-700">
            <div class="flex items-center justify-center h-48 rounded  dark:bg-gray-800">
                <p class="text-2xl text-gray-500 dark:text-gray-500">Select a catalog</p>
            </div>
        </div>
    </div>-->

</div>