<div class="z-50 bg-white dark:bg-gray-900 border-b border-gray-400 dark:border-gray-700">

    <!-- LOADER -->
    <div *ngIf="(currentDetailLoading$ | async) as currentDetailProduct"
        class="z-50 bg-opacity-70 relative top-0 left-0 right-0 bottom-0 p-32">
        <div class="grid place-items-center h-full">
            <svg class="w-10 h-10 text-gray-300 animate-spin dark:text-gray-800 fill-blue-600" viewBox="0 0 100 101"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="px-6 py-4" *ngIf="!(currentDetailLoading$ | async)">
        <div class="flex items-center justify-between w-full py-2 font-medium text-left">

            <!-- TITLE -->
            <h5 class="text-lg font-medium tracking-tight text-gray-900 dark:text-white">
                <span class="mr-2" [ngSwitch]="(selectedProductType$ | async)">
                    <fa-icon *ngSwitchCase="ProductType.Catalog" [icon]="['fas', 'folder']"
                        class="text-blue-500 dark:text-blue-700">
                    </fa-icon>
                    <fa-icon *ngSwitchCase="ProductType.Category" [icon]="['fas', 'folder']"
                        class="text-blue-500 dark:text-blue-700">
                    </fa-icon>
                    <fa-icon *ngSwitchCase="ProductType.CategoryVariant" [icon]="['fas', 'folder']"
                        class="text-blue-500 dark:text-blue-700">
                    </fa-icon>
                    <fa-icon *ngSwitchCase="ProductType.File" [icon]="['fas', 'file']"
                        class="text-rose-500 dark:text-rose-700">
                    </fa-icon>
                    <fa-icon *ngSwitchCase="ProductType.FileVariant" [icon]="['fas', 'file']"
                        class="text-rose-500 dark:text-rose-700">
                    </fa-icon>
                </span>
                <span>{{ selectedProductName$ | async }}</span>
            </h5>

            <!-- ACTIONS -->
            <div *ngIf="(updatedProductDetail$ | async) as productDetailState" class="justify-end">

                <button type="button" (click)="saveAll()" class="button-primary-outlined-md"
                    [class.disabled]="!(propertiesValid | async)">
                    <svg *ngIf="(savingProductDetail$ | async) || (savingProductAssociation$ | async)" role="status"
                        class="inline w-3 h-3 mr-3 text-blue-700 animate-spin" viewBox="0 0 100 101" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="#E5E7EB" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentColor" />
                    </svg>
                    Save
                </button>
                <button *ngIf="canDeleteEntity$ | async as entity" type="button" (click)="deleteCurrentProduct()"
                    class="ml-2 button-warning-outlined-md">
                    <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                </button>
            </div>
        </div>

        <div>
            <!-- TABS -->
            <div class="my-4 border-b border-gray-200 dark:border-gray-700">
                <div
                    class="flex items-center justify-between w-full font-medium text-left text-gray-500 border-b border-gray-200">
                    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" role="tablist">
                        <li *ngFor="let tab of tabs" class="mr-2" role="presentation">
                            <button (click)="currentTab = tab"
                                class="inline-block pr-2 py-4 border-b-2 rounded-t-lg hover:text-gray-600 border-gray-300"
                                [ngClass]="{'border-transparent hover:border-gray-300 dark:hover:text-gray-300' : currentTab !== tab}"
                                type="button">
                                {{ tab }}
                                <fa-icon *ngIf="!(basePropertyValid | async) && tab==='BaseProperties'"
                                    [icon]="['fas', 'circle-exclamation']" class="ml-2 text-xs text-red-500">
                                </fa-icon>
                                <fa-icon *ngIf="!(customPropertyValid | async) && tab==='CustomProperties'"
                                    [icon]="['fas', 'circle-exclamation']" class="ml-2 text-xs text-red-500">
                                </fa-icon>
                                <fa-icon *ngIf="!(variantPropertyValid | async) && tab==='Variants'"
                                    [icon]="['fas', 'circle-exclamation']" class="ml-2 text-xs text-red-500">
                                </fa-icon>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- BASE PROPERTIES -->
            <span *ngIf="(baseProperties$ | async) as properties"
                [ngClass]="{'hidden' : currentTab !== 'BaseProperties'}">
                <app-prop-form [properties]="properties" (isValidForm)="setBasePropertValidation($event)"
                    (onChange)="didChangeBasePropertyData($event)">
                </app-prop-form>
            </span>

            <!-- CUSTOM PROPERTIES -->
            <span *ngIf="(customProperties$ | async) as properties"
                [ngClass]="{'hidden' : currentTab !== 'CustomProperties'}">
                <app-prop-form [properties]="properties" (isValidForm)="setCustomPropertyValidation($event)"
                    (onChange)="didChangeCustomPropertyData($event)">
                </app-prop-form>
            </span>

            <!-- VARIANT PROPERTIES -->
            <span *ngIf="(variants$ | async) as variants" [ngClass]="{'hidden' : currentTab !== 'Variants'}">
                <app-variants-table [variants]="variants" (isValidForm)="setVariantPropertyValidation($event)"
                    (onChange)="didChangeVariantData($event)" (onCreateNewVariant)="createNewVariant()"
                    (onDeleteVariant)="deleteVariant($event)" [loading]="(loadingForm$ | async) == true">
                </app-variants-table>
            </span>

            <!-- ASSOCIATIONS -->
            <app-association-data [disable]="currentTab !== 'Associations'" [productAssociation$]="productAssociation$"
                [currentProductIsFile$]="currentProductIsFile$" (onSelectItemType)="onSelectItemType($event)"
                (onSetPrimaryCategory)="setPrimaryCategory($event)"
                (onSearchDataForSelectedProduct)="searchDataForSelectedProduct($event)"
                (onProductAssociationChanged)="productAssociationChanged($event)">
            </app-association-data>

        </div>
    </div>
</div>

<app-modal-search #modalSearch *ngIf="(productAssociation$ | async) as productAssociation"
    (onItemsSelected)="addSelectedItems(productAssociation, $event)">
</app-modal-search>